<!-- {{post | json}} -->
<div class="container">
    <h2>Thêm bài viết</h2>
    <form action="" (ngSubmit)="onSubmit()">
        <input type="text" [(ngModel)]="post.title" placeholder="Tên sp" name="name" #name="ngModel" required
            minlength="5"><br>
        <input type="text" [(ngModel)]="post.image" placeholder="Ảnh sp" name="price" #price="ngModel" required=""><br>
        <select name="category" [(ngModel)]="post.categoryPostId" #categoryPostId="ngModel" name="categoryPostId" >
                <option *ngFor="let cate of cates" value={{cate.id}} >{{cate.name}}</option>
        </select><br>
        <input type="text" placeholder="Mô tả ngắn" [(ngModel)]="post.shortDesc" #shortDesc="ngModel" name="shortDesc"><br>
        <input type="text" placeholder="Mô tả" [(ngModel)]="post.desc" #desc="ngModel" name="desc"><br>
        <input type="text" placeholder="Date" [(ngModel)]="createAt" #creatAt="ngModel" name="creatAt" ><br>
        <button >Add</button>
    </form>
</div>
