<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- <button  id="btn">XXX</button>
    <h2 class="menu">Menu</h2>
    <h2 class="navbar">Navbar</h2> -->
    <header class="container" id="header">
        <div class="div"></div>
        <ul>
            <li><a href="home.html">Works</a></li>
            <li><a href="blogs.html">Bolg</a></li>
            <li><a href="detail.html">Contact</a></li>
        </ul>

    </header>
    <main>
        <div class="container">
            <h2>Blogs</h2>
            <ul>
                <li>
                    <a href="#">
                        <div class="img__blog">
                            <img src="./imgs/project1.jpg" alt="">
                        </div>
                        <div class="info__blog">
                            <h3>UI Interactions of the week</h3>
                            <div class="date__cate">
                                <span class="date">date</span><span>category</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores asperiores,
                                molestias
                                sunt facere ipsa vel consequuntur, eveniet voluptates vitae doloribus in explicabo illo
                                excepturi impedit deserunt libero minima! Doloremque.</p>
                        </div>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#">
                        <div class="img__blog">
                            <img src="./imgs/project1.jpg" alt="">
                        </div>
                        <div class="info__blog">
                            <h3>UI Interactions of the week</h3>
                            <div class="date__cate">
                                <span class="date">2020</span><span>category</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores asperiores,
                                molestias
                                sunt facere ipsa vel consequuntur, eveniet voluptates vitae doloribus in explicabo illo
                                excepturi impedit deserunt libero minima! Doloremque.</p>
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="#">
                        <div class="img__blog">
                            <img src="./imgs/project1.jpg" alt="">
                        </div>
                        <div class="info__blog">
                            <h3>UI Interactions of the week</h3>
                            <div class="date__cate">
                                <span class="date">date</span><span>category</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores asperiores,
                                molestias
                                sunt facere ipsa vel consequuntur, eveniet voluptates vitae doloribus in explicabo illo
                                excepturi impedit deserunt libero minima! Doloremque.</p>
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="#">
                        <div class="img__blog">
                            <img src="./imgs/project1.jpg" alt="">
                        </div>
                        <div class="info__blog">
                            <h3>UI Interactions of the week</h3>
                            <div class="date__cate">
                                <span class="date">date</span><span>category</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores asperiores,
                                molestias
                                sunt facere ipsa vel consequuntur, eveniet voluptates vitae doloribus in explicabo illo
                                excepturi impedit deserunt libero minima! Doloremque.</p>
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="#">
                        <div class="img__blog">
                            <img src="./imgs/project1.jpg" alt="">
                        </div>
                        <div class="info__blog">
                            <h3>UI Interactions of the week</h3>
                            <div class="date__cate">
                                <span class="date">date</span><span>category</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores asperiores,
                                molestias
                                sunt facere ipsa vel consequuntur, eveniet voluptates vitae doloribus in explicabo illo
                                excepturi impedit deserunt libero minima! Doloremque.</p>
                        </div>
                    </a>
                </li>
                <hr>

            </ul>
        </div>
    </main>
   <footer>
        <div class="container">
            <div class="icon">
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="span">
                <span>Copyright ©2020 All rights reserved </span>
            </div>
        </div>
    </footer>
    <script src="./home.js"></script>
</body>

</html> 