<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- <button  id="btn">XXX</button>
    <h2 class="menu">Menu</h2>
    <h2 class="navbar">Navbar</h2> -->
    <header class="container" id="header">
        <div class="div"></div>
        <ul>
            <li><a href="home.html">Works</a></li>
            <li><a href="blogs.html">Bolg</a></li>
            <li><a href="detail.html">Contact</a></li>
        </ul>
    </header>
    <main>
        <div class="container">
            <div class="box">
                <div class="title">
                    <h2>Designing Dashboards with usability in mind</h2>
                </div>
                <div class="date__cate">
                    <span class="date">2020</span>
                    <span class="cate">Dashboard, User Experience Design</span>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro eum nihil temporibus. Facere,
                        fuga
                        nihil dolor asperiores fugiat commodi itaque doloremque incidunt, molestiae illo aperiam
                        blanditiis
                        dolore totam veritatis quas?</p>
                </div>
                <div class="content">
                    <img src="./imgs/detail.jpg" width="100%" alt="">
                </div>
            </div>
            <div class="box">
                <h2>Heading 1</h2>
                <h3>Heading 2</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur adipisci ea consectetur earum
                    cupiditate assumenda ab unde dignissimos, veritatis et quia nostrum quo, reiciendis culpa
                    praesentium alias, molestias doloribus. A?</p>
                    <img src="./imgs/detail.jpg" width="100%" alt="">
                    <img src="./imgs/detail.jpg" width="100%" alt="">
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="icon">
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="span">
                <span>Copyright ©2020 All rights reserved </span>
            </div>
        </div>
    </footer>
    <script src="./home.js"></script>
</body>

</html>