<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- <button  id="btn">XXX</button>
    <h2 class="menu">Menu</h2>
    <h2 class="navbar">Navbar</h2> -->
    <header class="container" id="header">
        <div class="div"></div>
        <ul class="menu">
            <li><a href="home.html">Works</a></li>
            <li><a href="blogs.html">Bolg</a></li>
            <li><a href="detail.html">Contact</a></li>
        </ul>
        <div class="navbar">
            <i class="fa-solid fa-align-justify"></i>
        </div>
    </header>

    <section class="info ">
        <div class="container">
            <div class="content">
                <h2 class="two">Hi, I am <span>Vuong</span>,<br>
                    <span>Creative Technologist</span>
                </h2>
                <div class="short-desc three" >
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod quas vitae doloribus repellendus
                    cupiditate cum voluptatibus, tenetur praesentium, perspiciatis corrupti minus autem exercitationem.
                    Neque, quod consequatur? Illo quae consequuntur cum.
                </div>
                <button class="btn__info four">Read me</button>
            </div>
            <div class="img__info one">
                <img src="../templates/imgs/avt.jpg"  class="" width="243px"  alt="">
            </div>
        </div>
    </section>


    <section class="post ">
        <div class="container">
            <div class="row1">
                <span>Recent Blogs</span><span class="viewall">View all</span>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Making a design system from scratch</h2>
                    <span>date</span><span>category</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quae quod numquam voluptatem
                        deleniti
                        aspernatur ratione commodi quis saepe suscipit repudiandae pariatur voluptates exercitationem
                        culpa
                        illo esse dignissimos, soluta tempora!</p>
                </div>
                <div class="col">
                    <h2>Making a design system from scratch</h2>
                    <span>date</span><span>category</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quae quod numquam voluptatem
                        deleniti
                        aspernatur ratione commodi quis saepe suscipit repudiandae pariatur voluptates exercitationem
                        culpa
                        illo esse dignissimos, soluta tempora!</p>
                </div>
            </div>
        </div>
    </section>


    <section class="project ">
        <div class="container">
            <div class="row1">
                <span>Featured Project</span>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <div class="img__project">
                            <img src="./imgs/project1.jpg" alt="">
                        </div>
                        <div class="content__project">
                            <h2>Designing Dashboards</h2>
                            <span>date</span><span>Category</span>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero voluptatum rerum sed,
                                enim
                                nisi, fugiat sequi beatae impedit numquam sunt ut dicta inventore illum atque magnam.
                            </p>
                        </div>
                    </li>
                    <hr>
                    <li>
                        <div class="img__project">
                            <img src="./imgs/project2.jpg" alt="">
                        </div>
                        <div class="content__project">
                            <h2>Designing Dashboards</h2>
                            <span>date</span><span>Category</span>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero voluptatum rerum sed,
                                enim
                                nisi, fugiat sequi beatae impedit numquam sunt ut dicta inventore illum atque magnam.
                            </p>
                        </div>
                    </li>
                    <hr>
                    <li>
                        <div class="img__project">
                            <img src="./imgs/project3.jpg" alt="">
                        </div>
                        <div class="content__project">
                            <h2>Designing Dashboards</h2>
                            <span>date</span><span>Category</span>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero voluptatum rerum sed,
                                enim
                                nisi, fugiat sequi beatae impedit numquam sunt ut dicta inventore illum atque magnam.
                            </p>
                        </div>
                    </li>
                    <hr>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="icon">
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-instagram-square"></i>
                    <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="span">
                <span>Copyright ©2020 All rights reserved </span>
            </div>
        </div>
    </footer>
    <script src="./home.js"></script>
</body>

</html>